@font-face {
    font-family: 'MyCustomFont'; /* Define the name for the font */
    src: url('/home/j-shubhi/Shubhi/font/La Obrige.otf') format('opentype'); /* Link to your .otf file */
    font-weight: normal; /* Optional: specify the weight */
    font-style: normal;  /* Optional: specify the style */
}
body {
    font-family: 'MyCustomFont';
    text-align: center;
    padding: 20px;
    background-color: #a49870;
    
}
h1 {
    color: #795312;
}

