@font-face {
    font-family: 'MyCustomFont'; /* Define the name for the font */
    src: url('font/La Obrige.otf') format('opentype'); /* Link to your .otf file */
    font-weight: normal; /* Optional: specify the weight */
    font-style: normal;  /* Optional: specify the style */
}
body {
    font-family: 'MyCustomFont';
    text-align: center;
    padding: 20px;
    background-color: #ded7be;
    
}
h1 {
    color: #795312;
}

