body {
    font-family: 'MyCustomFont';
    src: url('/home/j-shubhi/Shubhi/font/La Obrige.otf') format('opentype');
    text-align: center;
    padding: 20px;
    background-color: #a49870;
    
}
h1 {
    color: #795312;
}

